.box1{
    width: 100%;
    background-color: rgb(230, 229, 229);
    
}
.title1{
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 29px;
    color:rgb(111, 201, 211);
    font-family: "Poppins", Sans-serif;
}
.box-container-process{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}